In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
from pyspark.sql import *
spark = SparkSession.builder.master("local[2]").appName("connect_to_mysql").getOrCreate()

In [3]:
df = spark.read.format("jdbc"). \
        option("url","jdbc:mysql://localhost/ORG"). \
        option("driver","com.mysql.jdbc.Driver"). \
        option("dbtable","Worker"). \
        option("user","root"). \
        option("password","MySqlPassword2020!"). \
        load()

In [4]:
df.show()

+---------+----------+---------+------+-------------------+----------+
|WORKER_ID|FIRST_NAME|LAST_NAME|SALARY|       JOINING_DATE|DEPARTMENT|
+---------+----------+---------+------+-------------------+----------+
|        1|    Monika|    Arora| 10000|2014-02-20 09:00:00|        HR|
|        2|  Niharika|    Verma| 80000|2014-06-11 09:00:00|     Admin|
|        3|    Vishal|  Singhal|300000|2014-02-20 09:00:00|        HR|
|        4|   Amitabh|    Singh|500000|2014-02-20 09:00:00|     Admin|
|        5|     Vivek|    Bhati|500000|2014-06-11 09:00:00|     Admin|
|        6|     Vipul|    Diwan|200000|2014-06-11 09:00:00|   Account|
|        7|    Satish|    Kumar| 75000|2014-01-20 09:00:00|   Account|
|        8|   Geetika|  Chauhan| 90000|2014-04-11 09:00:00|     Admin|
+---------+----------+---------+------+-------------------+----------+

In [ ]:
# put the following jars in the spark jars folder --
# mysql-connector-java-8.0.26.jar
# protobuf-java-2.5.0.jar

# Also a pip