# Dataframes:

The concept of dataframe comes from the world of statistical tools/softwares used in emperical research. 
Dataframes are designed for processing large quantities of structured and semi-structured data. Observation in spark dataframe are organized under named columns which helps apache spark to understand the schema of a dataframe. This helps Spark optimize execution plan on these queries.
Dataframes in Apache Spark has the ability to handle petabytes of data. It is usually used for handling the Big Data. 
It has support for wide range of data formats and sources.
It has API support for different languages like Python, R, Java, Scala which makes it easier for people having different programming background as well.

Dataframe APIs support elaborate methods for slicing and dicing the data.
It includes operations such as selecting rows, columns and cell by name, or by number filtering out rows and many other operations.
Another critically important feature of a dataframe is the explicit management of missing data.

Dataframes refers to tabular data - a data structure representing rows, each of which consists of a number of observations or measurements which are known as columns. Alternatively each row may be treated as a single observation of multiple variables.
Dataframes also contain some metadata in addition to the data, for example the column and the row names.
Dataframe is like a 2D data-structure similar to a SQL or a table in a spreadsheet.

# Features of DataFrame:
Firstly, they are "distributed" in nature which makes them highy available and fault tolerant.
Secondly they support lazy evaluations, which increases manageability, speed, computation, provides optimization by reducing the number of queries, decreases complexities.
Thirdly it is immutable, i.e an object whose state cannot be modified after it has been created. But we can transform its values by performing some transformations like in RDD.

# Creating DataFrames
A dataframe in Spark can be created in mutiple ways.
It can be created using different data formats for example loading data from json, csv, xml, parquet files. It can also be created from an existing RDD as well as from various dbs like Hive db, Cassandra db. Also we can create Dataframes from files residing in file systems as well as HDFS.

pyspark.sql.SQLContext is the main entry point for a dataframe and sql functionality.

<h2>Important Classes</h2>
<ul>
<li>pyspark.sql.SQLContext</li>
<li>pyspark.sql.DataFrame</li>
<li>pyspark.sql.Column</li>
<li>pyspark.sql.Row</li>
<li>pyspark.sql.GroupedData</li>
<li>pyspark.sql.DataFrameNAFunctions</li>
<li>pyspark.sql.DataFrameStatFunctions</li>
<li>pyspark.sql.functions</li>
<li>pyspark.sql.types</li>
<li>pyspark.sql.Window</li>
</ul>

In [1]:
import findspark
findspark.init()
import pyspark

In [18]:
from pyspark.sql import *
spark = SparkSession.builder.master("local[2]").appName("DataFrames1").getOrCreate()

In [3]:
employee = Row("firstName", "lastName", "email", "salary")

In [10]:
employee1 = employee("Bruce", "Wayne", "BruceWayne@waynecorp.org", 152666)
employee2 = employee("Clark", "Kent", "ClarKent@oscorp.org", 79985)
employee3 = employee("Diana", "Prince", "DianaPrince@themyscire.org", 58874)
employee4 = employee("Barry", "Allen", "BarryAllen@wstarlabs.org", 233541)

In [11]:
department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

In [12]:
print(employee3)

Row(firstName='Diana', lastName='Prince', email='DianaPrince@themyscire.org', salary=58874)

In [13]:
print(employee[0])

firstName

In [14]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [16]:
print(department4)

Row(id='901234', name='DEV')

In [19]:
departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]
dframe = spark.createDataFrame(departmentsWithEmployees_Seq)

In [21]:
display(dframe)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

# Creating DataFrame using an actual file

In [30]:
# By default the "read" method will look for a file in HDFS, so we need to specify the filnename
# as "file:///"

fifa_df = spark.read.format("csv").option("inferSchema", True).option("header", True).load("file:///home/boom/Documents/programming/pyspark/data_files/my_data.csv")

In [31]:
fifa_df.show()

+---+---------+---------+--------------------+--------------------+--------------+
| id|firstname| lastname|               email|              email2|    profession|
+---+---------+---------+--------------------+--------------------+--------------+
|100|    Lynde|   Orelee|Lynde.Orelee@yopm...|Lynde.Orelee@gmai...|   firefighter|
|101|     Vere|  Charity|Vere.Charity@yopm...|Vere.Charity@gmai...|police officer|
|102|    Verla| Demitria|Verla.Demitria@yo...|Verla.Demitria@gm...|        worker|
|103|   Ebonee|     Etom|Ebonee.Etom@yopma...|Ebonee.Etom@gmail...|     developer|
|104|   Orsola|  Fadiman|Orsola.Fadiman@yo...|Orsola.Fadiman@gm...|        doctor|
|105|   Ofilia| Eliathas|Ofilia.Eliathas@y...|Ofilia.Eliathas@g...|police officer|
|106| Willetta|     Ajay|Willetta.Ajay@yop...|Willetta.Ajay@gma...|     developer|
|107|Ekaterina|       An|Ekaterina.An@yopm...|Ekaterina.An@gmai...|     developer|
|108|  Gusella|  Emanuel|Gusella.Emanuel@y...|Gusella.Emanuel@g...|police officer|
|109|    Robbi|  Jaylene|Robbi.Jaylene@yop...|Robbi.Jaylene@gma...|        worker|
|110|   Melina|  Gusella|Melina.Gusella@yo...|Melina.Gusella@gm...|     developer|
|111|   Leanna|    Garbe|Leanna.Garbe@yopm...|Leanna.Garbe@gmai...|        worker|
|112|    Grier|  Fabiola|Grier.Fabiola@yop...|Grier.Fabiola@gma...|   firefighter|
|113|    Linzy|       An|Linzy.An@yopmail.com|  Linzy.An@gmail.com|        worker|
|114|     Fina| Sidonius|Fina.Sidonius@yop...|Fina.Sidonius@gma...|        doctor|
|115|  Brianna|   Drisko|Brianna.Drisko@yo...|Brianna.Drisko@gm...|        worker|
|116|Morganica| Kendrick|Morganica.Kendric...|Morganica.Kendric...|     developer|
|117|  Chloris| Pulsifer|Chloris.Pulsifer@...|Chloris.Pulsifer@...|        doctor|
|118|  Aeriela|Erlandson|Aeriela.Erlandson...|Aeriela.Erlandson...|        worker|
|119|   Dennie|    Trace|Dennie.Trace@yopm...|Dennie.Trace@gmai...|     developer|
+---+---------+---------+--------------------+--------------------+--------------+
only showing top 20 rows

In [32]:
fifa_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- email: string (nullable = true)
 |-- email2: string (nullable = true)
 |-- profession: string (nullable = true)

In [33]:
fifa_df.columns

['id', 'firstname', 'lastname', 'email', 'email2', 'profession']

In [34]:
fifa_df.count()

1000

In [35]:
len(fifa_df.columns)

6

In [37]:
fifa_df.describe('id').show()

+-------+-----------------+
|summary|               id|
+-------+-----------------+
|  count|             1000|
|   mean|            599.5|
| stddev|288.8194360957494|
|    min|              100|
|    max|             1099|
+-------+-----------------+

In [38]:
fifa_df.describe('lastname').show()

+-------+--------+
|summary|lastname|
+-------+--------+
|  count|    1000|
|   mean|    null|
| stddev|    null|
|    min|   Abbot|
|    max|  Zuzana|
+-------+--------+

In [ ]:
fifa_df.describe('id').show()

In [39]:
fifa_df.select("firstname", "lastname").show()

+---------+---------+
|firstname| lastname|
+---------+---------+
|    Lynde|   Orelee|
|     Vere|  Charity|
|    Verla| Demitria|
|   Ebonee|     Etom|
|   Orsola|  Fadiman|
|   Ofilia| Eliathas|
| Willetta|     Ajay|
|Ekaterina|       An|
|  Gusella|  Emanuel|
|    Robbi|  Jaylene|
|   Melina|  Gusella|
|   Leanna|    Garbe|
|    Grier|  Fabiola|
|    Linzy|       An|
|     Fina| Sidonius|
|  Brianna|   Drisko|
|Morganica| Kendrick|
|  Chloris| Pulsifer|
|  Aeriela|Erlandson|
|   Dennie|    Trace|
+---------+---------+
only showing top 20 rows

In [41]:
fifa_df.filter(fifa_df.lastname=='An').show()

+---+---------+--------+--------------------+--------------------+----------+
| id|firstname|lastname|               email|              email2|profession|
+---+---------+--------+--------------------+--------------------+----------+
|107|Ekaterina|      An|Ekaterina.An@yopm...|Ekaterina.An@gmai...| developer|
|113|    Linzy|      An|Linzy.An@yopmail.com|  Linzy.An@gmail.com|    worker|
+---+---------+--------+--------------------+--------------------+----------+

In [42]:
fifa_df.filter(fifa_df.lastname=='An').count()

2

In [44]:
fifa_df.filter((fifa_df.firstname=='Linzy') & (fifa_df.lastname=='An')).show()

+---+---------+--------+--------------------+------------------+----------+
| id|firstname|lastname|               email|            email2|profession|
+---+---------+--------+--------------------+------------------+----------+
|113|    Linzy|      An|Linzy.An@yopmail.com|Linzy.An@gmail.com|    worker|
+---+---------+--------+--------------------+------------------+----------+

In [45]:
fifa_df.orderBy(fifa_df.id).show()

+---+---------+---------+--------------------+--------------------+--------------+
| id|firstname| lastname|               email|              email2|    profession|
+---+---------+---------+--------------------+--------------------+--------------+
|100|    Lynde|   Orelee|Lynde.Orelee@yopm...|Lynde.Orelee@gmai...|   firefighter|
|101|     Vere|  Charity|Vere.Charity@yopm...|Vere.Charity@gmai...|police officer|
|102|    Verla| Demitria|Verla.Demitria@yo...|Verla.Demitria@gm...|        worker|
|103|   Ebonee|     Etom|Ebonee.Etom@yopma...|Ebonee.Etom@gmail...|     developer|
|104|   Orsola|  Fadiman|Orsola.Fadiman@yo...|Orsola.Fadiman@gm...|        doctor|
|105|   Ofilia| Eliathas|Ofilia.Eliathas@y...|Ofilia.Eliathas@g...|police officer|
|106| Willetta|     Ajay|Willetta.Ajay@yop...|Willetta.Ajay@gma...|     developer|
|107|Ekaterina|       An|Ekaterina.An@yopm...|Ekaterina.An@gmai...|     developer|
|108|  Gusella|  Emanuel|Gusella.Emanuel@y...|Gusella.Emanuel@g...|police officer|
|109|    Robbi|  Jaylene|Robbi.Jaylene@yop...|Robbi.Jaylene@gma...|        worker|
|110|   Melina|  Gusella|Melina.Gusella@yo...|Melina.Gusella@gm...|     developer|
|111|   Leanna|    Garbe|Leanna.Garbe@yopm...|Leanna.Garbe@gmai...|        worker|
|112|    Grier|  Fabiola|Grier.Fabiola@yop...|Grier.Fabiola@gma...|   firefighter|
|113|    Linzy|       An|Linzy.An@yopmail.com|  Linzy.An@gmail.com|        worker|
|114|     Fina| Sidonius|Fina.Sidonius@yop...|Fina.Sidonius@gma...|        doctor|
|115|  Brianna|   Drisko|Brianna.Drisko@yo...|Brianna.Drisko@gm...|        worker|
|116|Morganica| Kendrick|Morganica.Kendric...|Morganica.Kendric...|     developer|
|117|  Chloris| Pulsifer|Chloris.Pulsifer@...|Chloris.Pulsifer@...|        doctor|
|118|  Aeriela|Erlandson|Aeriela.Erlandson...|Aeriela.Erlandson...|        worker|
|119|   Dennie|    Trace|Dennie.Trace@yopm...|Dennie.Trace@gmai...|     developer|
+---+---------+---------+--------------------+--------------------+--------------+
only showing top 20 rows

In [46]:
fifa_df.registerTempTable('fifa_table')
# OR, the new way of saying it is
# fifa_df.createOrReplaceTempView('fifa_table')

In [47]:
spark.sql("select * from fifa_table").show()

+---+---------+---------+--------------------+--------------------+--------------+
| id|firstname| lastname|               email|              email2|    profession|
+---+---------+---------+--------------------+--------------------+--------------+
|100|    Lynde|   Orelee|Lynde.Orelee@yopm...|Lynde.Orelee@gmai...|   firefighter|
|101|     Vere|  Charity|Vere.Charity@yopm...|Vere.Charity@gmai...|police officer|
|102|    Verla| Demitria|Verla.Demitria@yo...|Verla.Demitria@gm...|        worker|
|103|   Ebonee|     Etom|Ebonee.Etom@yopma...|Ebonee.Etom@gmail...|     developer|
|104|   Orsola|  Fadiman|Orsola.Fadiman@yo...|Orsola.Fadiman@gm...|        doctor|
|105|   Ofilia| Eliathas|Ofilia.Eliathas@y...|Ofilia.Eliathas@g...|police officer|
|106| Willetta|     Ajay|Willetta.Ajay@yop...|Willetta.Ajay@gma...|     developer|
|107|Ekaterina|       An|Ekaterina.An@yopm...|Ekaterina.An@gmai...|     developer|
|108|  Gusella|  Emanuel|Gusella.Emanuel@y...|Gusella.Emanuel@g...|police officer|
|109|    Robbi|  Jaylene|Robbi.Jaylene@yop...|Robbi.Jaylene@gma...|        worker|
|110|   Melina|  Gusella|Melina.Gusella@yo...|Melina.Gusella@gm...|     developer|
|111|   Leanna|    Garbe|Leanna.Garbe@yopm...|Leanna.Garbe@gmai...|        worker|
|112|    Grier|  Fabiola|Grier.Fabiola@yop...|Grier.Fabiola@gma...|   firefighter|
|113|    Linzy|       An|Linzy.An@yopmail.com|  Linzy.An@gmail.com|        worker|
|114|     Fina| Sidonius|Fina.Sidonius@yop...|Fina.Sidonius@gma...|        doctor|
|115|  Brianna|   Drisko|Brianna.Drisko@yo...|Brianna.Drisko@gm...|        worker|
|116|Morganica| Kendrick|Morganica.Kendric...|Morganica.Kendric...|     developer|
|117|  Chloris| Pulsifer|Chloris.Pulsifer@...|Chloris.Pulsifer@...|        doctor|
|118|  Aeriela|Erlandson|Aeriela.Erlandson...|Aeriela.Erlandson...|        worker|
|119|   Dennie|    Trace|Dennie.Trace@yopm...|Dennie.Trace@gmai...|     developer|
+---+---------+---------+--------------------+--------------------+--------------+
only showing top 20 rows

# SUPERHEROES

In [48]:
superhero_df = spark.read.csv("file:///home/boom/Documents/programming/pyspark/data_files/heroes_information.csv", inferSchema=True, header=True)

In [51]:
superhero_df.show(10)

+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|         name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|       A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|   Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|     Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|  Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|      Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|  Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7| Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|     Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|    Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 10 rows

In [52]:
superhero_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

In [54]:
superhero_df.filter(superhero_df.Gender=='Male').count()

505

In [55]:
superhero_df.filter(superhero_df.Gender=='Female').count()

200

In [56]:
race_df = superhero_df.groupBy("Race") \
        .count() \
        .show()

+------------------+-----+
|              Race|count|
+------------------+-----+
|          Neyaphem|    1|
|          Symbiote|    9|
|        Kryptonian|    7|
|           Ungaran|    1|
|           Martian|    1|
|         Strontian|    1|
| Human / Radiation|   11|
|   Kakarantharaian|    1|
|         Metahuman|    2|
|Dathomirian Zabrak|    1|
|    Human / Cosmic|    2|
|   Xenomorph XX121|    1|
|            Animal|    4|
|       Frost Giant|    2|
|            Cyborg|   11|
|           Inhuman|    4|
|     God / Eternal|   14|
|    Yoda's species|    1|
|     Icthyo Sapien|    1|
|            Rodian|    1|
+------------------+-----+
only showing top 20 rows

In [58]:
skin_df = superhero_df.groupBy("Skin color") \
        .count() \
        .show()

+--------------+-----+
|    Skin color|count|
+--------------+-----+
|        orange|    1|
|    blue-white|    1|
|          grey|    5|
|         green|   21|
|        yellow|    2|
|orange / white|    1|
|        silver|    5|
|        purple|    3|
|         white|    7|
|          gray|    1|
|   red / black|    1|
|          pink|    2|
|           red|    9|
|          gold|    3|
|             -|  662|
|         black|    1|
|          blue|    9|
+--------------+-----+

In [60]:
weight_df = superhero_df.sort((superhero_df.Weight).desc())
weight_df.show()

+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|          name|Gender|Eye color|             Race|Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575|     Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|    Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|      Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|549|      Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|283|       Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|331|          Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|      Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718|     Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|        Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|        A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
|  3|   Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|Marvel Comics|         -|      bad| 441.0|
|611|Solomon Grundy|  Male|    black|           Zombie|     White| 279.0|    DC Comics|         -|      bad| 437.0|
|229|      Doomsday|  Male|      red|            Alien|     White| 244.0|    DC Comics|         -|      bad| 412.0|
|614|         Spawn|  Male|    brown|            Demon|     Black| 211.0| Image Comics|         -|     good| 405.0|
|504|     Onslaught|  Male|      red|           Mutant|   No Hair| 305.0|Marvel Comics|         -|      bad| 405.0|
|217|     Destroyer|  Male|        -|                -|         -| 188.0|Marvel Comics|         -|      bad| 383.0|
|422|   Machine Man|     -|      red|                -|     Black| 183.0|Marvel Comics|         -|     good| 383.0|
|409|  Living Brain|     -|   yellow|                -|         -| 198.0|Marvel Comics|         -|      bad| 360.0|
| 33|    Anti-Venom|  Male|     blue|         Symbiote|     Blond| 229.0|Marvel Comics|         -|        -| 358.0|
|386|   Killer Croc|  Male|      red|        Metahuman|   No Hair| 244.0|    DC Comics|     green|      bad| 356.0|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 20 rows

In [61]:
DC_hero = superhero_df.filter(superhero_df.Publisher=='DC Comics')
DC_hero.count()

215

In [62]:
superhero_df.groupBy('Publisher').count().show()

+-----------------+-----+
|        Publisher|count|
+-----------------+-----+
|        Rebellion|    1|
|    HarperCollins|    6|
| J. R. R. Tolkien|    1|
|        Star Trek|    6|
|    Marvel Comics|  388|
|        Wildstorm|    3|
|             null|   15|
|       South Park|    1|
|    Sony Pictures|    2|
|      Titan Books|    1|
|      ABC Studios|    4|
|             SyFy|    5|
|     Image Comics|   14|
|Universal Studios|    1|
|   IDW Publishing|    4|
|     NBC - Heroes|   19|
|    Hanna-Barbera|    1|
|        DC Comics|  215|
|        Microsoft|    1|
|    J. K. Rowling|    1|
+-----------------+-----+
only showing top 20 rows

In [63]:
superhero_df.createOrReplaceTempView('superhero_table')

In [64]:
spark.sql("select * from superhero_table").show()

+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|             name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|           A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|       Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|         Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|      Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|          Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|    Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|      Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7|     Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|         Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|        Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
| 10|       Agent Zero|  Male|        -|                -|         -| 191.0|    Marvel Comics|         -|     good| 104.0|
| 11|       Air-Walker|  Male|     blue|                -|     White| 188.0|    Marvel Comics|         -|      bad| 108.0|
| 12|             Ajax|  Male|    brown|           Cyborg|     Black| 193.0|    Marvel Comics|         -|      bad|  90.0|
| 13|       Alan Scott|  Male|     blue|                -|     Blond| 180.0|        DC Comics|         -|     good|  90.0|
| 14|      Alex Mercer|  Male|        -|            Human|         -| -99.0|        Wildstorm|         -|      bad| -99.0|
| 15|     Alex Woolsly|  Male|        -|                -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 16|Alfred Pennyworth|  Male|     blue|            Human|     Black| 178.0|        DC Comics|         -|     good|  72.0|
| 17|            Alien|  Male|        -|  Xenomorph XX121|   No Hair| 244.0|Dark Horse Comics|     black|      bad| 169.0|
| 18| Allan Quatermain|  Male|        -|                -|         -| -99.0|        Wildstorm|         -|     good| -99.0|
| 19|            Amazo|  Male|      red|          Android|         -| 257.0|        DC Comics|         -|      bad| 173.0|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 20 rows

In [66]:
spark.sql("select distinct(Eye color) from superhero_table").show()

ParseException:
mismatched input ')' expecting ','(line 1, pos 25)

== SQL ==
select distinct(Eye color) from superhero_table
-------------------------^^^

In [67]:
spark.sql("select max(Weight) from superhero_table").show()

+-----------+
|max(Weight)|
+-----------+
|      900.0|
+-----------+