# RDD stuff

In [1]:
import findspark
findspark.init()
from pyspark.sql import *

In [2]:
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder.master("local[2]").appName('Interview_Prep').getOrCreate()

In [4]:
list1 = [('A', 1), ('B', 2), ('C', 3)]
df1 = spark.sparkContext.parallelize(list1)
collected_df = df1.collect()
for data in collected_df:
    print(data)

('A', 1)
('B', 2)
('C', 3)

In [5]:
df1.getNumPartitions()

2

In [6]:
df2 = spark.sparkContext.wholeTextFiles('file:///home/boom/Desktop/hadoop.txt')
collected_df2 = df2.collect()
for y in collected_df2:
    print(y)

('file:/home/boom/Desktop/hadoop.txt', 'created a example1.txt file with some sentences.\n\ncreated a hdfs user directory using:\nhdfs dfs -mkdir /user\nhdfs dfs -mkdir /user/boom\nhdfs dfs -mkdir /user/boom/practice_data\n\nhdfs dfs -put ./path_to_txt_file /user/boom/practice_data\n\n\nto see the file:\ncat /user/boom/practice_data/example1.txt\n\n\nTo perform mapreduce:\n\nhadoop jar /home/boom/Documents/Programming/big_data/hadoop-3.2.0/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.2.0.jar wordcount /user/boom/practice_data/example1.txt /user/boom/firstExampleOut\n\n\nhadoop jar hadoop-mapreduce-examples-3.2.0.jar wordcount /user/boom/practice_data/example1.txt /user/boom/firstExampleOut\n\n\n\n')

In [7]:
df3 = spark.sparkContext.textFile('file:///home/boom/Desktop/hadoop.txt')
collected_df3 = df3.collect()
for z in collected_df3:
    print(z)

created a example1.txt file with some sentences.

created a hdfs user directory using:
hdfs dfs -mkdir /user
hdfs dfs -mkdir /user/boom
hdfs dfs -mkdir /user/boom/practice_data

hdfs dfs -put ./path_to_txt_file /user/boom/practice_data


to see the file:
cat /user/boom/practice_data/example1.txt


To perform mapreduce:

hadoop jar /home/boom/Documents/Programming/big_data/hadoop-3.2.0/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.2.0.jar wordcount /user/boom/practice_data/example1.txt /user/boom/firstExampleOut


hadoop jar hadoop-mapreduce-examples-3.2.0.jar wordcount /user/boom/practice_data/example1.txt /user/boom/firstExampleOut

# Dataframe stuff

In [8]:
employee = Row("id", "firstname", "lastname", "gender", "salary")

In [9]:
employee1 = Row(102, "Bruce", "Wayne", "M", 95000)
employee2 = Row(106, "Clark", "Kent", "M", 77000)
employee3 = Row(101, "Diana", "Prince", "F", 90000)
employee4 = Row(111, "Lois", "Lane", "F", 145000)
list_of_employees = [employee1, employee2, employee3, employee4]
emp_df = spark.createDataFrame(data=list_of_employees, schema=employee)
emp_df.show()

+---+---------+--------+------+------+
| id|firstname|lastname|gender|salary|
+---+---------+--------+------+------+
|102|    Bruce|   Wayne|     M| 95000|
|106|    Clark|    Kent|     M| 77000|
|101|    Diana|  Prince|     F| 90000|
|111|     Lois|    Lane|     F|145000|
+---+---------+--------+------+------+

<p>Creating dataframes with file</p>

In [10]:
fifa_df = spark.read.format('csv').option("inferSchema", True).option("header", True).load("file:///home/boom/Documents/programming/pyspark/data_files/my_data.csv")
fifa_df.show()

+---+---------+---------+--------------------+--------------------+--------------+
| id|firstname| lastname|               email|              email2|    profession|
+---+---------+---------+--------------------+--------------------+--------------+
|100|    Lynde|   Orelee|Lynde.Orelee@yopm...|Lynde.Orelee@gmai...|   firefighter|
|101|     Vere|  Charity|Vere.Charity@yopm...|Vere.Charity@gmai...|police officer|
|102|    Verla| Demitria|Verla.Demitria@yo...|Verla.Demitria@gm...|        worker|
|103|   Ebonee|     Etom|Ebonee.Etom@yopma...|Ebonee.Etom@gmail...|     developer|
|104|   Orsola|  Fadiman|Orsola.Fadiman@yo...|Orsola.Fadiman@gm...|        doctor|
|105|   Ofilia| Eliathas|Ofilia.Eliathas@y...|Ofilia.Eliathas@g...|police officer|
|106| Willetta|     Ajay|Willetta.Ajay@yop...|Willetta.Ajay@gma...|     developer|
|107|Ekaterina|       An|Ekaterina.An@yopm...|Ekaterina.An@gmai...|     developer|
|108|  Gusella|  Emanuel|Gusella.Emanuel@y...|Gusella.Emanuel@g...|police officer|
|109|    Robbi|  Jaylene|Robbi.Jaylene@yop...|Robbi.Jaylene@gma...|        worker|
|110|   Melina|  Gusella|Melina.Gusella@yo...|Melina.Gusella@gm...|     developer|
|111|   Leanna|    Garbe|Leanna.Garbe@yopm...|Leanna.Garbe@gmai...|        worker|
|112|    Grier|  Fabiola|Grier.Fabiola@yop...|Grier.Fabiola@gma...|   firefighter|
|113|    Linzy|       An|Linzy.An@yopmail.com|  Linzy.An@gmail.com|        worker|
|114|     Fina| Sidonius|Fina.Sidonius@yop...|Fina.Sidonius@gma...|        doctor|
|115|  Brianna|   Drisko|Brianna.Drisko@yo...|Brianna.Drisko@gm...|        worker|
|116|Morganica| Kendrick|Morganica.Kendric...|Morganica.Kendric...|     developer|
|117|  Chloris| Pulsifer|Chloris.Pulsifer@...|Chloris.Pulsifer@...|        doctor|
|118|  Aeriela|Erlandson|Aeriela.Erlandson...|Aeriela.Erlandson...|        worker|
|119|   Dennie|    Trace|Dennie.Trace@yopm...|Dennie.Trace@gmai...|     developer|
+---+---------+---------+--------------------+--------------------+--------------+
only showing top 20 rows

In [11]:
fifa_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- email: string (nullable = true)
 |-- email2: string (nullable = true)
 |-- profession: string (nullable = true)

In [12]:
print(fifa_df.columns)
print(len(fifa_df.columns))
print(fifa_df.count())

['id', 'firstname', 'lastname', 'email', 'email2', 'profession']
6
1000

In [13]:
fifa_df.describe('lastname').show()

+-------+--------+
|summary|lastname|
+-------+--------+
|  count|    1000|
|   mean|    null|
| stddev|    null|
|    min|   Abbot|
|    max|  Zuzana|
+-------+--------+

In [14]:
emp_df.orderBy(col('salary').asc()).show()

+---+---------+--------+------+------+
| id|firstname|lastname|gender|salary|
+---+---------+--------+------+------+
|106|    Clark|    Kent|     M| 77000|
|101|    Diana|  Prince|     F| 90000|
|102|    Bruce|   Wayne|     M| 95000|
|111|     Lois|    Lane|     F|145000|
+---+---------+--------+------+------+

In [15]:
emp_df.orderBy(col('id').desc()).show()

+---+---------+--------+------+------+
| id|firstname|lastname|gender|salary|
+---+---------+--------+------+------+
|111|     Lois|    Lane|     F|145000|
|106|    Clark|    Kent|     M| 77000|
|102|    Bruce|   Wayne|     M| 95000|
|101|    Diana|  Prince|     F| 90000|
+---+---------+--------+------+------+

In [16]:
fifa_df.sort(fifa_df.id.desc()).show()

+----+---------+----------+--------------------+--------------------+--------------+
|  id|firstname|  lastname|               email|              email2|    profession|
+----+---------+----------+--------------------+--------------------+--------------+
|1099|    Barbi|   Frendel|Barbi.Frendel@yop...|Barbi.Frendel@gma...|police officer|
|1098| Cherilyn|   Frendel|Cherilyn.Frendel@...|Cherilyn.Frendel@...|        worker|
|1097|     Maud|      Gert|Maud.Gert@yopmail...| Maud.Gert@gmail.com|        worker|
|1096|  Teriann|  Holbrook|Teriann.Holbrook@...|Teriann.Holbrook@...|        doctor|
|1095|    Deane|  Hartnett|Deane.Hartnett@yo...|Deane.Hartnett@gm...|        worker|
|1094|   Blinni|     Haerr|Blinni.Haerr@yopm...|Blinni.Haerr@gmai...|        worker|
|1093|     Mara|Wildermuth|Mara.Wildermuth@y...|Mara.Wildermuth@g...|   firefighter|
|1092|   Marjie|  Eliathas|Marjie.Eliathas@y...|Marjie.Eliathas@g...|   firefighter|
|1091|   Arabel|    Janene|Arabel.Janene@yop...|Arabel.Janene@gma...|police officer|
|1090|    Wendi|    Cecile|Wendi.Cecile@yopm...|Wendi.Cecile@gmai...|        doctor|
|1089|   Carlie|     Pauly|Carlie.Pauly@yopm...|Carlie.Pauly@gmai...|     developer|
|1088|Charmaine|  Chauncey|Charmaine.Chaunce...|Charmaine.Chaunce...|     developer|
|1087|    Misha|      Uird|Misha.Uird@yopmai...|Misha.Uird@gmail.com|     developer|
|1086|   Florie|    Burkle|Florie.Burkle@yop...|Florie.Burkle@gma...|police officer|
|1085|  Lorenza|   Bettine|Lorenza.Bettine@y...|Lorenza.Bettine@g...|        worker|
|1084|   Lonnie|     Danby|Lonnie.Danby@yopm...|Lonnie.Danby@gmai...|   firefighter|
|1083|   Briney|     Erich|Briney.Erich@yopm...|Briney.Erich@gmai...|   firefighter|
|1082|   Annice|   Bethany|Annice.Bethany@yo...|Annice.Bethany@gm...|police officer|
|1081|    Rayna|     Roche|Rayna.Roche@yopma...|Rayna.Roche@gmail...|   firefighter|
|1080|  Aeriela|  Connelly|Aeriela.Connelly@...|Aeriela.Connelly@...|   firefighter|
+----+---------+----------+--------------------+--------------------+--------------+
only showing top 20 rows

In [17]:
fifa_df.groupBy('profession').count().show()

+--------------+-----+
|    profession|count|
+--------------+-----+
|     developer|  215|
|   firefighter|  193|
|police officer|  188|
|        worker|  214|
|        doctor|  190|
+--------------+-----+

In [18]:
fifa_df.select(max('id')).show()

+-------+
|max(id)|
+-------+
|   1099|
+-------+

In [19]:
fifa_df.select(min('id')).show()

+-------+
|min(id)|
+-------+
|    100|
+-------+

In [20]:
fifa_df.select(avg('id')).show()

+-------+
|avg(id)|
+-------+
|  599.5|
+-------+

In [21]:
fifa_df.select(stddev('id')).show()

+-----------------+
|  stddev_samp(id)|
+-----------------+
|288.8194360957494|
+-----------------+

In [22]:
fifa_df.show(3)

+---+---------+--------+--------------------+--------------------+--------------+
| id|firstname|lastname|               email|              email2|    profession|
+---+---------+--------+--------------------+--------------------+--------------+
|100|    Lynde|  Orelee|Lynde.Orelee@yopm...|Lynde.Orelee@gmai...|   firefighter|
|101|     Vere| Charity|Vere.Charity@yopm...|Vere.Charity@gmai...|police officer|
|102|    Verla|Demitria|Verla.Demitria@yo...|Verla.Demitria@gm...|        worker|
+---+---------+--------+--------------------+--------------------+--------------+
only showing top 3 rows

In [23]:
fifa_df.select('id', 'firstname', fifa_df.profession.isin('firefighter')).show()

+---+---------+-----------------------------+
| id|firstname|(profession IN (firefighter))|
+---+---------+-----------------------------+
|100|    Lynde|                         true|
|101|     Vere|                        false|
|102|    Verla|                        false|
|103|   Ebonee|                        false|
|104|   Orsola|                        false|
|105|   Ofilia|                        false|
|106| Willetta|                        false|
|107|Ekaterina|                        false|
|108|  Gusella|                        false|
|109|    Robbi|                        false|
|110|   Melina|                        false|
|111|   Leanna|                        false|
|112|    Grier|                         true|
|113|    Linzy|                        false|
|114|     Fina|                        false|
|115|  Brianna|                        false|
|116|Morganica|                        false|
|117|  Chloris|                        false|
|118|  Aeriela|                        false|
|119|   Dennie|                        false|
+---+---------+-----------------------------+
only showing top 20 rows

In [24]:
fifa_df[fifa_df.firstname.startswith('Ly')].select('id', 'firstname').show()

+----+---------+
|  id|firstname|
+----+---------+
| 100|    Lynde|
| 128|    Lynea|
| 146|   Lynnea|
| 405|   Lynnea|
| 486|    Lynea|
| 603|   Lynnea|
| 833|    Lyssa|
| 843|    Lyssa|
|1019|    Lyssa|
+----+---------+

In [25]:
demo_df = fifa_df[fifa_df.firstname.startswith('Ly')].select('id', 'firstname').dropDuplicates()
demo_df.show()

+----+---------+
|  id|firstname|
+----+---------+
| 603|   Lynnea|
| 100|    Lynde|
| 146|   Lynnea|
| 486|    Lynea|
|1019|    Lyssa|
| 128|    Lynea|
| 833|    Lyssa|
| 405|   Lynnea|
| 843|    Lyssa|
+----+---------+

In [26]:
demo_df2 = demo_df.withColumn('New col', lit("Added Col"))
demo_df2.show()

+----+---------+---------+
|  id|firstname|  New col|
+----+---------+---------+
| 603|   Lynnea|Added Col|
| 100|    Lynde|Added Col|
| 146|   Lynnea|Added Col|
| 486|    Lynea|Added Col|
|1019|    Lyssa|Added Col|
| 128|    Lynea|Added Col|
| 833|    Lyssa|Added Col|
| 405|   Lynnea|Added Col|
| 843|    Lyssa|Added Col|
+----+---------+---------+

In [27]:
demo_df3 = demo_df2.withColumnRenamed('New col', 'New column')
demo_df3.show()

+----+---------+----------+
|  id|firstname|New column|
+----+---------+----------+
| 603|   Lynnea| Added Col|
| 100|    Lynde| Added Col|
| 146|   Lynnea| Added Col|
| 486|    Lynea| Added Col|
|1019|    Lyssa| Added Col|
| 128|    Lynea| Added Col|
| 833|    Lyssa| Added Col|
| 405|   Lynnea| Added Col|
| 843|    Lyssa| Added Col|
+----+---------+----------+

In [28]:
demo_df3.drop('New column').show()

+----+---------+
|  id|firstname|
+----+---------+
| 603|   Lynnea|
| 100|    Lynde|
| 146|   Lynnea|
| 486|    Lynea|
|1019|    Lyssa|
| 128|    Lynea|
| 833|    Lyssa|
| 405|   Lynnea|
| 843|    Lyssa|
+----+---------+

In [29]:
fifa_df.dtypes

[('id', 'int'),
 ('firstname', 'string'),
 ('lastname', 'string'),
 ('email', 'string'),
 ('email2', 'string'),
 ('profession', 'string')]

In [30]:
fifa_df.first()['firstname']

'Lynde'

# JOINS

In [31]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

In [32]:
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [33]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "inner").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [34]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "outer").show()
# OR
# empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "full").show()
# OR
# empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "fullouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [35]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "leftouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [36]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "rightouter").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [37]:
# https://sparkbyexamples.com/pyspark/pyspark-join-explained-with-examples/

# MAP

In [38]:
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

In [39]:
rdd2=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+